/* TodosComponent's private CSS styles */
tbody tr:nth-child(odd) {
   background-color: #EEE;
}

.btn-group {
  margin: 5px;
}

#btn-status {
  margin: 2px;
}

tr td:last-child{
  width:130px;
  white-space:nowrap;
  padding: 2px;
}

td {
  height: 40px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
