/* Application-wide Styles */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
  margin: 2em;
}

.app-container {
  display: flex;
  justify-content: center;
}
